<%= render 'layouts/header' %>
<div class="d-flex flex-column justify-content-center top_content_wrapper mt-5">
  <% if notice %>
    <p class="notice alert-light text-center"><%= notice %></p>
  <% elsif alert%>
    <p class="alert alert-light text-center"><%= alert %></p>
  <% else %>
    <div class="my-5"></div>
  <% end %>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="mt-3 diagonal_strings">
      <p class="main_sentence mt-5 wf-sawarabi text-left">筋トレ、ダイエット、ウェイトアップ</p>
      <p class="main_sentence mt-1 wf-sawarabi text-left">タンパク質の量を可視化することで</p>
      <p class="main_sentence mt-1 wf-sawarabi text-right">どれだけ理想に近づけるか！</p>
    </div>
  </div>
</div>
<div class="row justify-content-around">
  <div class="col-7 col-lg-2 mt-3"><span class="button_frame"><%= link_to t('view.guest_login'), users_guest_sign_in_path, method: :post, class: "top_buttons_design" %></span></div>
  <div class="col-7 col-lg-2 mt-3"><span class="button_frame"><%= link_to t('view.sign_up'), new_user_registration_path, class: "top_buttons_design" %></span></div>
  <div class="col-7 col-lg-2 mt-3"><span class="button_frame"><%= link_to t('view.login'), new_user_session_path, class: "top_buttons_design" %></span></div>
</div>

