<%= render 'layouts/header' %>
<div class="d-flex flex-column justify-content-center align-items-center top_content_wrapper mt-5 mr-3">
  <% if notice %>
      <p class="notice alert-light text-center"><%= notice %></p>
  <% elsif alert%>
      <p class="alert alert-light text-center"><%= alert %></p>
  <% end %>
  <div>
    <div class="d-flex flex-column justify-content-center align-items-center mt-3 pb-5">
      <p class="main_sentense wf-sawarabi">たんぱく質管理始めませんか？</p>
      <p class="sub_sentense mt-5 wf-sawarabi">筋トレ、ダイエット、ウェイトアップ</p>
      <p class="sub_sentense mt-1 wf-sawarabi">あなたの努力をサポートします！</p>
    </div>
    <div class="mt-5 top_button_area top_index row ml-5">
      <div class="col-sm-6 col-lg-4">
        <%= link_to t('view.guest_login'), users_guest_sign_in_path, method: :post, class: "btn btn-secondary mx-3 mt-3" %>
      </div>
      <div class="col-sm-6 col-lg-4">
        <%= link_to t('view.sign_up'), new_user_registration_path, class: "btn btn-secondary mx-3 mt-3" %>
      </div>
      <div class="col-sm-6 col-lg-4">
        <%= link_to t('view.login'), new_user_session_path, class: "btn btn-secondary mx-3 mt-3" %>
      </div>
    </div>
  </div>
</div>
