<nav class="navbar navbar-expand-md navbar-light nav_color nav_color_top">
  <a class="navbar-brand">
    <%= link_to 'プロマネ', "/", class: "navbar-brand logo nav-link" %>
  </a>
  <div class="collapse navbar-collapse justify-content-left ml-4" id="responsiveMenu">
    <ul class="navbar-nav navbar-left">
      <%= link_to t('view.admin_guest_login'), users_admin_guest_sign_in_path, method: :post, class: "px-2 nav-link", id: "admin_guest_login"%>
      <%= link_to t('view.guest_login'), users_guest_sign_in_path, method: :post, class: "login px-2 nav-link", id: "guest_login" %>
      <%= link_to t('view.sign_up'), new_user_registration_path, class: "px-2 nav-link" %>
      <%= link_to t('view.login'), new_user_session_path, class: "px-2 nav-link" %>
    </ul>
  </div>
</nav>
<%# <div class="d-flex flex-row justify-content-right align-items-center text_wrapper"> %>
  <div class="d-flex flex-column justify-content-center align-items-center text_wrapper pl-5">
    <% if notice %>
        <p class="notice alert-light notice_size text-center"><%= notice %></p>
    <% elsif alert%>
        <p class="alert alert-light alert_size text-center"><%= alert %></p>
    <% end %>
    <div>
      <div class="d-flex flex-column justify-content-center align-items-center mt-3 pb-5">
        <p class="main_sentense wf-sawarabi">たんぱく質管理始めませんか？</p>
        <p class="sub_sentense mt-5 wf-sawarabi">筋トレ、ダイエット、ウェイトアップ</p>
        <p class="sub_sentense mt-1 wf-sawarabi">あなたの努力をサポートします！</p>
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center mt-5">
        <%= link_to t('view.admin_guest_login'), users_admin_guest_sign_in_path, method: :post, class: "btn btn-secondary mx-3 mt-4 top_buttons"%>
        <%= link_to t('view.guest_login'), users_guest_sign_in_path, method: :post, class: "btn btn-secondary mx-3 mt-4 top_buttons" %>
        <%= link_to t('view.sign_up'), new_user_registration_path, class: "mx-3 btn btn-secondary mt-4 top_buttons" %>
        <%= link_to t('view.login'), new_user_session_path, class: "mx-3 btn btn-secondary mt-4 top_buttons" %>
      </div>
    </div>
  </div>
<%# </div> %>
