<%= form_with(model: @reply, local: true ) do |f| %>
  <div><%= render 'layouts/error_messages', model: @reply %></div>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="contact_form_content d-flex flex-row justify-content-center mt-4">
      <div class="contact_label"><%= f.label :comment %></div>
      <%= f.text_area :comment, placeholder: t('view.input_less_than1000'), class: "contact_form_content" %>
    </div>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :contact_id, value: @contact.id %>
    <div class="row justify-content-center mt-3">
      <%= f.submit button_text, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>