<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="sunflower index_picture_margin picture_position_left"></div>
  <div class="mb-3">
    <h1 class="food_text"><%= t('view.records_index') %></h1>
  </div>
  <div class="d-flex flex-row justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="paginate_box rounded mt-3">
        <%= paginate @nutrition_records, window: 3 %>
      </div>
      <% index = 0 %>
      <% my_food_button_index = 0 %>
      <% @nutrition_records.each do |nutrition_record| %>
        <div class="border-success day_record_style my-4">
          <table>
            <% nutrition_record.nutrition_record_lines.each do |line| %>
              <% if line == nutrition_record.nutrition_record_lines.first %>
                <div class="container">
                  <div class="row mb-2 font-weight-bold">
                    <div class="col-6 bold_font_size"><span class="table_date"><%= t('view.date') + ": " + "#{nutrition_record.start_time}"%></span></div>
                    <div class="col-6 bold_font_size"><%= t('view.user_name') + " : " %><span class="table_user_name"><%= link_to line.nutrition_record.user.name, user_path(nutrition_record.user.id) %></span></div>
                  </div>
                </div>
                <thead>
                  <tr class="border_bottom">
                    <th class="record_th text-center"><%= t('activerecord.attributes.food.name') %></th>
                    <th class="record_th text-center"><%= t('activerecord.attributes.food.protein') %></th>
                    <th class="record_th text-center"><%= t('activerecord.attributes.food.quantity') %></th>
                    <th class="record_th text-center"><%= t('activerecord.attributes.food.unit') %></th>
                    <th class="record_th text-center"><%= t('activerecord.attributes.nutrition_record_lines.ate') %></th>
                    <th class="record_th text-center"><%= t('view.button') %></th>
                  </tr>
                </thead>
              <% end %>
              <% if line.food_id != nil %>
                <tbody>
                  <% food = @foods.pick_food(line.food_id) %>
                  <tr>
                    <td class="text-center"><%= content_tag :span, food.name, id: "food_name#{index}" %></td>
                    <td class="text-center"><%= content_tag :span, "#{food.protein}g", id: "food_protein#{index}" %></td>
                    <td class="text-center"><%= content_tag :span, food.quantity, id: "food_quantity#{index}" %></td>
                    <td class="text-center"><%= content_tag :span, food.unit, id: "food_unit#{index}" %></td>
                    <td class="text-center"><%= content_tag :span, line.ate, id: "food_ate#{index}" %></td>
                    <td>
                      <% if current_user == nutrition_record.user %>
                        <%= link_to t('view.show'), nutrition_record_path(nutrition_record.id), class: "btn btn-outline-warning" %>
                        <%= link_to t('view.edit'), edit_nutrition_record_path(nutrition_record.id), class: "btn btn-outline-success" %>
                        <%= link_to t('view.destroy'), nutrition_record_line_path(line.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-warning" %>
                      <% else %>
                        <%= form_with(model: food, local: true, url: foods_path, method: :post) do |f| %>
                          <%= f.hidden_field :name, value: food.name %>
                          <%= f.hidden_field :protein, value: food.protein %>
                          <%= f.hidden_field :quantity, value: food.quantity %>
                          <%= f.hidden_field :unit, value: food.unit %>
                          <%= f.hidden_field :user_id, value: current_user.id %>
                          <%= f.submit "自分の食品に登録する", class: "btn btn-outline-success mb-1", id: "my_food_button#{my_food_button_index}" %>
                          <% my_food_button_index += 1 %>
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              <% end %>
              <% index += 1 %>
            <% end %>
          </table>
        </div>
      <% end %>
      <div class="paginate_box rounded mt-3">
        <%= paginate @nutrition_records, window: 3 %>
      </div>
    </div>
  </div>
  <div class="camera index_picture_margin picture_position_right mb-3"></div>
</div>