<div class="main_wrapper d-flex flex-row justify-content-center">
  <div class="nutrition_record_my_daily_wrapper d-flex flex-column">
    <div class="d-flex flex-column justify-content-center align-items-center p-3">
      <div class="d-flex flex-row justify-content-right">
        <h1 class="main_title"><%= t('view.my_daily_record') %></h1><span class="my_target"><%= t('activerecord.attributes.user.protein_target')  + ": " + current_user.protein_target.to_s + " g" %></span>
      </div>
      <div>
        <%= render 'layouts/flash_message' %>
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center">
        <div class="paginate_box rounded mt-2">
          <%= paginate @nutrition_records, window: 3 %>
        </div>
        <%= link_to "カレンダー", my_calendar_nutrition_record_path(current_user.id), id: "my_calendar", class: "btn btn-primary mb-2 ml-5"%>
      </div>
      <div class="nutrition_record_my_daily_container scroll">
        <div class="d-flex flex-column justify-content-center align-items-center ml-3">
          <% index = 0 %>
          <% @nutrition_records.each do |nutrition_record| %>
            <div class="nutrition_record_lines_my_daily scroll my-4">
              <% if @nutrition_records != nil %>
                <div>
                  <div class="d-flex flex-row my-1">
                    <div class="col-12 text-center"><span class="bold_font_size font-weight-bold"><%= t('view.date') + ": " + "#{nutrition_record.start_time}"%></span>
                    </div>
                  </div>
                </div>
                <div>
                  <% nutrition_record.nutrition_record_lines.each do |line| %>
                    <% if line == nutrition_record.nutrition_record_lines.first %>
                      <div class="d-flex flex-row justify-content-start border_bottom pb-1">
                        <div class="record_line_container_large text-center"><%= t('activerecord.attributes.food.name') %></div>
                        <div class="record_line_container_middle text-center"><%= t('activerecord.attributes.food.protein') %></div>
                        <div class="record_line_container_small text-center"><%= t('activerecord.attributes.food.quantity') %></div>
                        <div class="record_line_container_small text-center"><%= t('activerecord.attributes.food.unit') %></div>
                        <div class="record_line_container_small text-center"><%= t('activerecord.attributes.nutrition_record_lines.ate') %></div>
                        <div class="record_line_container_large text-center"><%= t('view.button') %></div>
                      </div>
                      <% @protein_amount = 0 %>
                    <% end %>
                    <% food = @foods.pick_food(line.food_id)%>
                    <% if line.food_id != nil  %>
                      <div class="d-flex flex-row justify-content-center">
                        <div class="record_line_container_large text-center mt-3"><%= content_tag :span, food.name, id: "food_name#{index}" %></div>
                        <div class="record_line_container_middle text-center mt-3"><%= content_tag :span, "#{food.protein}g", id: "food_protein#{index}" %></div>
                        <div class="record_line_container_small text-center mt-3"><%= content_tag :span, food.quantity, id: "food_quantity#{index}" %></div>
                        <div class="record_line_container_small text-center mt-3"><%= content_tag :span, food.unit, id: "food_unit#{index}" %></div>
                        <div class="record_line_container_small text-center mt-3"><%= content_tag :span, line.ate, id: "food_ate#{index}" %></div>
                        <div class="record_line_container_large d-flex flex-row text-center mt-2 mb-1">
                          <%= link_to t('view.show'), nutrition_record_path(nutrition_record.id), class: "btn btn-outline-warning ml-3", id: "show_button#{index}" %>
                          <%= link_to t('view.edit'), edit_nutrition_record_path(nutrition_record.id), class: "btn btn-outline-success", id: "edit_button#{index}" %>
                          <%= link_to t('view.destroy'), nutrition_record_line_path(line.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-warning", id: "delete_button#{index}" %>
                        </div>
                        <% @protein_amount += (food.protein * line.ate) if line.ate != nil %>
                        <% index += 1 %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
                <div class="border_top text-center font-weight-bold bold_font_size my-1 pt-1">
                  <span class="total_protein"><%= t('view.my_daily_amount_protein') + " #{@protein_amount}" + " g" %></span>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(function() {
  $('#my_calendar').on('click', function(e) {
    width_locate = window.innerWidth / 2 - 237;
    height_locate = window.innerHeight / 5;
    window.open(this.href, 'my_calendar', 'width=475 height=610' + ',' + 'top=' + height_locate + ',' + 'left=' + width_locate );
    return false;
  });
});
</script>