<div class="ml-5 my_target day_record_style text-center font-weight-bold pb-2">
  <%= t('activerecord.attributes.user.protein_target')  + ": " + current_user.protein_target.to_s + " g" %>
</div>
<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="egg index_picture_margin picture_position_right"></div>
  <div class="mb-3">
    <h1 class="food_text"><%= t('view.my_daily_record') %></h1>
  </div>
  <div class="box7"><span><%= t('view.my_daily_protein_calendar') %></span></div>
  <div>
    <%= month_calendar events: @nutrition_records do |date, nutrition_records| %>
      <div class="text_color">
        <%= "#{date.day}日" %>
      </div>
      <div class="text_color">
        <%= "#{NutritionRecord.sum_protein(nutrition_records)}g" if nutrition_records.length > 0 %>
      </div>
    <% end %>
  </div>
  <div class="box7 pt-3"><span><%= t('view.daily_record') %></span></div>
  <div class="paginate_box rounded mt-3">
    <%= paginate @nutrition_records, window: 3 %>
  </div>
  <div class="d-flex flex-row justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center ml-3">
      <% index = 0 %>
      <% @nutrition_records.each do |nutrition_record| %>
        <div class="border-success day_record_style my-4">
          <% if @nutrition_records != nil %>
            <div class="container">
              <div class="row font-weight-bold">
                <div class="col-12 bold_font_size text-center"><span class="table_date"><%= t('view.date') + ": " + "#{nutrition_record.start_time}"%></span></div>
              </div>
            </div>
            <table>
              <% nutrition_record.nutrition_record_lines.each do |line| %>
                <% if line == nutrition_record.nutrition_record_lines.first %>
                  <thead>
                    <tr class="border_bottom">
                      <th class="record_th text-center"><%= t('activerecord.attributes.food.name') %></th>
                      <th class="record_th text-center"><%= t('activerecord.attributes.food.protein') %></th>
                      <th class="record_th text-center"><%= t('activerecord.attributes.food.quantity') %></th>
                      <th class="record_th text-center"><%= t('activerecord.attributes.food.unit') %></th>
                      <th class="record_th text-center"><%= t('activerecord.attributes.nutrition_record_lines.ate') %></th>
                      <th class="record_th text-center"><%= "" %></th>
                      <th class="record_th text-center"><%= t('view.button') %></th>
                    </tr>
                  </thead>
                  <% @protein_amount = 0 %>
                <% end %>
                <tbody>
                  <% food = @foods.pick_food(line.food_id)%>
                  <% if line.food_id != nil  %>
                    <tr>
                      <td class="text-center"><%= food.name %></td>
                      <td class="text-center"><%= food.protein %></td>
                      <td class="text-center"><%= food.quantity %></td>
                      <td class="text-center"><%= food.unit %></td>
                      <td class="text-center"><%= line.ate %></td>
                      <td><%= link_to t('view.show'), nutrition_record_path(nutrition_record.id), class: "btn btn-outline-warning mb-1", id: "show_button#{index}" %></td>
                      <td><%= link_to t('view.edit'), edit_nutrition_record_path(nutrition_record.id), class: "btn btn-outline-success mb-1", id: "edit_button#{index}" %></td>
                      <td><%= link_to t('view.destroy'), nutrition_record_path(nutrition_record.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-warning mb-1", id: "delete_button#{index}" %></td>
                      <% @protein_amount += (food.protein * line.ate) if line.ate != nil %>
                      <% index += 1 %>
                    </tr>
                  <% end %>
                </tbody>
              <% end %>
            </table>
            <div class="border_top text-center font-weight-bold bold_font_size my-1 pt-1">
              <span class="total_protein"><%= t('view.my_daily_amount_protein') + " #{@protein_amount}" + " g" %></span>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="paginate_box rounded mt-3">
        <%= paginate @nutrition_records, window: 3 %>
      </div>
    </div>
  </div>
  <div class="egg2 index_picture_margin picture_position_right mb-3"></div>
</div>