<div class="nostalgy mr-3 ml-3"></div>
<div class="d-flex flex-column justify-content-center align-items-center day_record_style ml-5 my-5">
  <h1 class="food_text mt-4"><%= t('view.record_show') %></h1>
  <div class="mt-3">
    <div class="food_th_width"><%= label :start_time, t('activerecord.attributes.nutrition_record.start_time'), class: "text-success" %></div>
    <div class="food_th_width"><%= @nutrition_record.start_time %></div>
  </div>
  <div class="d-flex flex-row mt-3">
    <div class="button_design submit_button mt-3 mx-3">
      <%= link_to t('view.edit'), edit_nutrition_record_path(@nutrition_record), class: "button_text_color" %>
    </div>
    <div class="button_design submit_button mt-3 mx-3">
      <%= link_to t('view.back'), nutrition_records_path, class: "button_text_color" %>
    </div>
  </div>
  <div class="d-flex flex-column ml-4 my-4">
    <% @nutrition_record.nutrition_record_lines.each do |line| %>
      <% food = @foods.pick_food(line.food_id) if line.food_id != nil %>
      <% if food != nil %>
        <% if line == @nutrition_record.nutrition_record_lines.first %>
          <div class="d-flex flex-row mx-3 mt-3 border_top_gray">
            <div class="show_text_width mx-3"><%= label :name, t('activerecord.attributes.food.name'), class: "text-success" %></div>
            <div class="show_text_protein mx-3"><%= label :protein, t('activerecord.attributes.food.protein'), class: "text-success" %></div>
            <div class="show_text_width mx-3"><%= label :quantity, t('activerecord.attributes.food.quantity'), class: "text-success" %></div>
            <div class="show_text_width mx-3"><%= label :unit, t('activerecord.attributes.food.unit'), class: "text-success" %></div>
            <div class="show_text_width mx-3"><%= label :ate, t('activerecord.attributes.nutrition_record_lines.ate'), class: "text-success" %></div>
          </div>
        <% end %>
        <div class="d-flex flex-row border_top_gray mx-3 mt-3">
          <div class="show_text_width mx-3 mt-3"><%= food.name %></div>
          <div class="show_text_protein mx-3 mt-3"><%= "#{food.protein} g" %></div>
          <div class="show_text_width mx-3 mt-3"><%= food.quantity %></div>
          <div class="show_text_width mx-3 mt-3"><%= food.unit %></div>
          <div class="show_text_width mx-3 mt-3"><%= line.ate %></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>