<%= form_with(model: record, local: true) do |f| %>
  <div><%= render 'layouts/error_messages', model: f.object %></div>
  <div class="d-flex flex-column justify-content-center align-items-center mt-5">
    <div class="d-flex flex-row justify-content-center align-items-center my-3">
      <% if action_name == "new" || action_name == "create" %>
        <div class="d-flex flex-column justify-content-center align-items-center mx-3">
          <div >
            <%= f.label t('activerecord.attributes.record.food'), class: "text-success" %>
          </div>
          <div>
            <%= f.select :food_id, @foods.all.map {|food| ["#{food.name}  " "#{food.protein}g  " "#{food.quantity}""#{food.unit}", food.id]}, include_blank: "選択して下さい"%>
          </div>
        </div>
      <% elsif action_name == "edit" || action_name == "update" %>
        <div class="d-flex flex-column justify-content-center align-items-center mx-3">
          <div>
            <%= label :name, t('activerecord.attributes.food.name'), class: "text-success" %>
          </div>
          <div>
            <%= @food.name %>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center mx-3">
          <div>
            <%= label :protein, t('activerecord.attributes.food.protein'), class: "text-success" %>
          </div>
          <div>
            <%= @food.protein %>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center mx-3">
          <div>
            <%= label :quantity, t('activerecord.attributes.food.quantity'), class: "text-success" %>
          </div>
          <div>
            <%= @food.quantity %>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center mx-3">
          <div>
            <%= label :unit, t('activerecord.attributes.food.unit'), class: "text-success" %>
          </div>
          <div>
            <%= @food.unit %>
          </div>
        </div>
      <% end %>
      <div class="d-flex flex-column justify-content-center align-items-center mx-3 mt-1">
        <div>
          <%= f.label t('activerecord.attributes.record.ate'), class: "text-success" %>
        </div>
        <div>
          <%= f.number_field :ate, min: '1', placeholder: t('activerecord.attributes.record.ate'), class: "ate_width" %>
        </div>
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center mx-2 mt-1">
        <div>
          <%= f.label t('activerecord.attributes.record.start_time'), class: "text-success" %>
        </div>
        <div>
          <%= f.date_field :start_time, value: Time.now.strftime("%Y-%m-%d") %>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center mx-3">
      <div class="mt-5 mx-3">
        <%= f.submit button_text, class: "button_design submit_button button_text_color" %>
      </div>
      <% if @record.id %>
        <div class="button_design submit_button mt-5 ml-2">
          <%= link_to t('view.back'), record_path(@record.id) , class: "button_text_color" %>
        </div>
      <% end %>
    </div>
  </div>
  <%= f.hidden_field :user_id, value:current_user.id %>
<% end %>
<div class="d-flex flex-column justify-content-center align-items-center mt-3">
  <% if action_name == "new" %>
    <div class="mb-3"><h3 class="text-success font-weight-bold"><%= t('view.search_foods') %></h3></div>
    <div><h5><%= t('view.search_exception') %></h5></div>
    <%= search_form_for @q, url: new_record_path do |f| %>
      <table>
        <tbody>
          <tr>
            <td><%= f.label t('view.search_food') %></td>
            <td><%= f.search_field :name_cont, placeholder: t('activerecord.attributes.food.name') %></td>
          </tr>
          <tr>
            <td><%= f.label t('view.protein_quantity') %></td>
            <td><%= f.number_field :protein_eq, min: '1', placeholder: t('view.input_over_than') %>g</td>
          </tr>
          <tr>
            <td><%= f.label t('view.protein_quantity') %></td>
            <td><%= f.number_field :protein_gteq, min: '1', placeholder: t('view.input_over_than') %><%= t('view.over') %></td>
          </tr>
          <tr>
            <td><%= f.label t('view.protein_quantity') %></td>
            <td><%= f.number_field :protein_lteq, min: '1', placeholder: t('view.input_over_than') %><%= t('view.less') %></td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex flex-row justify-content-center">
        <div class="mt-5">
          <%= f.submit t('view.search'), class: "button_design submit_button button_text_color" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>