<%= form_with(model: record, local: true) do |form| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
  <% end %>

  <table>
    <tbody>
      <tr>
        <td>
          <% if action_name == "new" %>
            <%= form.select :food_id, @foods.all.map {|food| ["#{food.name}  " "#{food.protain}g  " "#{food.quantity}""#{food.unit}", food.id]}, include_blank: "選択して下さい" %>
          <% elsif action_name == "edit"  %>
            <%= @food.name %>
            <%= @food.protain %>
            <%= @food.quantity %>
            <%= @food.unit %>
          <% end %>
        </td>
        <td><%= form.label t('activerecord.attributes.record.ate') %><%= form.number_field :ate %></td>
        <td><%= form.label t('activerecord.attributes.record.record_on') %><%= form.date_field :record_on %></td>
      </tr>
      <%= form.hidden_field :user_id, value:current_user.id %>
    </tbody>
  </table>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<% if action_name == "new" %>
  <%= search_form_for @q, url: new_record_path do |f| %>
    <p><%= f.label :name_cont %><%= f.search_field :name_cont %></p>
    <p><%= f.label :protain_eq %><%= f.number_field :protain_eq %></p>
    <p><%= f.label :protain_lteq %><%= f.number_field :protain_lteq %></p>
    <p><%= f.label :protain_gteq %><%= f.number_field :protain_gteq %></p>
    <%= f.submit %>
  <% end %>
<% end %>