<%= render 'layouts/error_messages', model: @record %>
<%= form_with(model: record, local: true) do |form| %>
  <div class="d-flex flex-column justify-content-center align-items-center mt-5">
    <div class="d-flex flex-row justify-content-center align-items-center my-3">
      <%= render 'layouts/error_messages', model: @record %>
      <% if action_name == "new" %>
        <div class="d-flex flex-column justify-content-center align-items-center mx-3">
          <div >
            <%= form.label t('activerecord.attributes.record.food'), class: "text-success" %>
          </div>
          <div>
            <%= form.select :food_id, @foods.all.map {|food| ["#{food.name}  " "#{food.protein}g  " "#{food.quantity}""#{food.unit}", food.id]}, include_blank: "選択して下さい" %>
          </div>
        </div>
      <% elsif action_name == "edit" %>
        <div class="d-flex flex-column justify-content-center align-items-center mx-3">
          <div>
            <%= label :name, t('activerecord.attributes.food.name'), class: "text-success" %>
          </div>
          <div>
            <%= @food.name %>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center mx-3">
          <div>
            <%= label :protein, t('activerecord.attributes.food.name'), class: "text-success" %>
          </div>
          <div>
            <%= @food.protein %>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center mx-3">
          <div>
            <%= label :quantity, t('activerecord.attributes.food.quantity'), class: "text-success" %>
          </div>
          <div>
            <%= @food.quantity %>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center mx-3">
          <div>
            <%= label :unit, t('activerecord.attributes.food.unit'), class: "text-success" %>
          </div>
          <div>
            <%= @food.unit %>
          </div>
        </div>
      <% end %>
      <div class="d-flex flex-column justify-content-center align-items-center mx-3 mt-1">
        <div>
          <%= form.label t('activerecord.attributes.record.ate'), class: "text-success" %>
        </div>
        <div>
          <%= form.number_field :ate, class: "ate_width" %>
        </div>
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center mx-2 mt-1">
        <div>
          <%= form.label t('activerecord.attributes.record.record_on'), class: "text-success" %>
        </div>
        <div>
          <%= form.date_field :record_on %>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center mx-3">
      <div class="mt-5 mx-3">
        <%= form.submit t('view.update'), class: "button_design submit_button button_text_color" %>
      </div>
      <% if @record.id %>
        <div class="button_design submit_button mt-5 ml-2">
          <%= link_to t('view.back'), record_path(@record.id) , class: "button_text_color" %>
        </div>
      <% end %>
    </div>
  </div>
  <%= form.hidden_field :user_id, value:current_user.id %>
<% end %>
<div class="d-flex flex-column justify-content-center align-items-center mt-3">
  <% if action_name == "new" %>
    <div class="mb-3">
      <h3 class="text-success font-weight-bold">検索</h3>
    </div>
    <%= search_form_for @q, url: new_record_path do |f| %>
      <table>
        <tbody>
          <tr>
            <td><%= f.label :name_cont %></td>
            <td><%= f.search_field :name_cont %></td>
          </tr>
          <tr>
            <td><%= f.label :protein_eq %></td>
            <td><%= f.number_field :protein_eq %></td>
          </tr>
          <tr>
            <td><%= f.label :protein_lteq %></td>
            <td><%= f.number_field :protein_lteq %></td>
          </tr>
          <tr>
            <td><%= f.label :protein_gteq %></td>
            <td><%= f.number_field :protein_gteq %></td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex flex-row justify-content-center">
        <div class="mt-5">
          <%= f.submit t('view.search'), class: "button_design submit_button button_text_color" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>