<%= render 'layouts/error_messages', model: @record %>
<%= form_with(model: record, local: true) do |form| %>
  <table>
    <tbody>
      <tr>
        <td>
          <% if action_name == "new" %>
            <%= form.select :food_id, @foods.all.map {|food| ["#{food.name}  " "#{food.protein}g  " "#{food.quantity}""#{food.unit}", food.id]}, include_blank: "選択して下さい" %>
          <% elsif action_name == "edit"  %>
            <%= @food.name %>
            <%= @food.protein %>
            <%= @food.quantity %>
            <%= @food.unit %>
          <% end %>
        </td>
        <td><%= form.label t('activerecord.attributes.record.ate') %><%= form.number_field :ate %></td>
        <td><%= form.label t('activerecord.attributes.record.record_on') %><%= form.date_field :record_on %></td>
      </tr>
      <%= form.hidden_field :user_id, value:current_user.id %>
    </tbody>
  </table>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<% if action_name == "new" %>
  <%= search_form_for @q, url: new_record_path do |f| %>
    <p><%= f.label :name_cont %><%= f.search_field :name_cont %></p>
    <p><%= f.label :protein_eq %><%= f.number_field :protein_eq %></p>
    <p><%= f.label :protein_lteq %><%= f.number_field :protein_lteq %></p>
    <p><%= f.label :protein_gteq %><%= f.number_field :protein_gteq %></p>
    <%= f.submit %>
  <% end %>
<% end %>