<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="sunflower index_picture_margin picture_position_left"></div>
  <div class="mb-3">
    <h1 class="food_text"><%= t('view.records_index') %></h1>
  </div>
  <div class="d-flex flex-row justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="paginate_box rounded mt-3">
        <%= paginate @days, window: 3 %>
      </div>
      <% @days.each do |day| %>
        <% records = @records.pick_start_time(day) %>
        <% if @records != nil %>
          <% user_ids = records.pluck(:user_id)%>
          <% user_ids.uniq! %>
          <% user_ids.each do |user_id| %>
            <% user_records = records.pick_user_id(user_id) %>
            <div class="border-success day_record_style my-4">
              <table>
                <% user_records.each do |record| %>
                  <% if record == user_records.first %>
                    <div class="container">
                      <div class="row mb-2 font-weight-bold">
                        <div class="col-6 bold_font_size"><span class="table_date"><%= t('view.date') + ": " + "#{day}"%></span></div>
                        <div class="col-6 bold_font_size"><%= t('view.user_name') + " : " %><span class="table_user_name"><%= link_to user_records.first.user.name, user_path(record.user.id) %></span></div>
                      </div>
                    </div>
                    <thead>
                      <tr class="border_bottom">
                        <th class="record_th text-center"><%= t('activerecord.attributes.food.name') %></th>
                        <th class="record_th text-center"><%= t('activerecord.attributes.food.protein') %></th>
                        <th class="record_th text-center"><%= t('activerecord.attributes.food.quantity') %></th>
                        <th class="record_th text-center"><%= t('activerecord.attributes.food.unit') %></th>
                        <th class="record_th text-center"><%= t('activerecord.attributes.record.ate') %></th>
                        <th class="record_th text-center"><%= t('view.button') %></th>
                      </tr>
                    </thead>
                  <% end %>
                  <tbody>
                    <% food = Food.find(record.food_id) %>
                    <tr>
                      <td class="text-center"><%= food.name %></td>
                      <td class="text-center"><%= food.protein %>g</td>
                      <td class="text-center"><%= food.quantity %></td>
                      <td class="text-center"><%= food.unit %></td>
                      <td class="text-center"><%= record.ate %></td>
                      <td>
                        <% if current_user == record.user %>
                          <%= link_to t('view.show'), record_path(record.id), class: "btn btn-outline-warning" %>
                          <%= link_to t('view.edit'), edit_record_path(record.id), class: "btn btn-outline-success" %>
                          <%= link_to t('view.destroy'), record_path(record.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-warning" %>
                        <% else %>
                          <%= form_with(model: food, local: true, url: foods_path, method: :post) do |f| %>
                            <%= f.hidden_field :name, value: record.food.name %>
                            <%= f.hidden_field :protein, value: record.food.protein %>
                            <%= f.hidden_field :quantity, value: record.food.quantity %>
                            <%= f.hidden_field :unit, value: record.food.unit %>
                            <%= f.hidden_field :user_id, value: current_user.id %>
                            <%= f.submit "自分の食品に登録する", class: "btn btn-outline-success mb-1", id: "edit_button" %>
                          <% end %>
                        <% end %>
                      </td>
                    </tr>
                  </tbody>
                <% end %>
              </table>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <div class="paginate_box rounded mt-3">
        <%= paginate @days, window: 3 %>
      </div>
    </div>
  </div>
  <div class="camera index_picture_margin picture_position_right"></div>
</div>