<h1><%= t('view.records_index') %></h1>
<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.food.name') %></th>
      <th><%= t('activerecord.attributes.food.protein') %></th>
      <th><%= t('activerecord.attributes.food.quantity') %></th>
      <th><%= t('activerecord.attributes.food.unit') %></th>
      <th><%= t('activerecord.attributes.record.ate') %></th>
      <th><%= t('activerecord.attributes.record.record_on') %></th>
      <th><%= t('activerecord.attributes.user.name') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @records != nil %>
      <% @records.each do |record| %>
        <% food = Food.find(record.food_id) %>
        <tr>
          <td><%= food.name %></td>
          <td><%= food.protain %>g</td>
          <td><%= food.quantity %></td>
          <td><%= food.unit %></td>
          <td><%= record.ate %></td>
          <td><%= record.record_on %></td>
          <td><%= link_to "#{record.user.name}", user_path(record.user.id) %></td>
          <% if current_user == record.user %>
            <td><%= link_to t('view.show'), record_path(record.id) %></td>
            <td><%= link_to t('view.edit'), edit_record_path(record.id) %></td>
            <td><%= link_to t('view.destroy'), record_path(record.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
