<div class="ml-5 my_target day_record_style text-center font-weight-bold">
  <%= t('activerecord.attributes.user.protein_target')  + ": " + current_user.protein_target.to_s + " g" %>
</div>
<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="egg index_picture_margin picture_position_right"></div>
  <div class="mb-3">
    <h1 class="food_text"><%= t('view.my_daily_record') %></h1>
  </div>
  <%= month_calendar events: @records do |date, records| %>
  <%= date.day %>
  <% records.each do |record| %>
    <div>
      <%= record.start_on %>
    </div>
  <% end %>
<% end %>
  <div class="paginate_box rounded mt-3">
    <%= paginate @days, window: 3 %>
  </div>
  <div class="d-flex flex-row justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center ml-3">
      <% index = 0 %>
      <% @days.each do |day| %>
        <% records = @records.pick_record_on(day) %>
        <div class="border-success day_record_style my-4">
          <% if @records != nil %>
            <div class="container">
              <div class="row font-weight-bold">
                <div class="col-12 bold_font_size text-center"><span class="table_date"><%= t('view.date') + ": " + "#{day}"%></span></div>
              </div>
            </div>
            <table>
              <% records.each do |record| %>
                <% if record == records.first %>
                  <thead>
                    <tr class="border_bottom">
                      <th class="record_th text-center"><%= t('activerecord.attributes.food.name') %></th>
                      <th class="record_th text-center"><%= t('activerecord.attributes.food.protein') %></th>
                      <th class="record_th text-center"><%= t('activerecord.attributes.food.quantity') %></th>
                      <th class="record_th text-center"><%= t('activerecord.attributes.food.unit') %></th>
                      <th class="record_th text-center"><%= t('activerecord.attributes.record.ate') %></th>
                      <th class="record_th text-center"><%= "" %></th>
                      <th class="record_th text-center"><%= t('view.button') %></th>
                    </tr>
                  </thead>
                  <% @protein_amount = 0 %>
                <% end %>
                <tbody>
                  <% food = @foods.pick_food(record.food_id) %>
                  <tr>
                    <td class="text-center"><%= food.name %></td>
                    <td class="text-center"><%= food.protein %></td>
                    <td class="text-center"><%= food.quantity %></td>
                    <td class="text-center"><%= food.unit %></td>
                    <td class="text-center"><%= record.ate %></td>
                    <td><%= link_to t('view.show'), record_path(record.id), class: "btn btn-outline-warning mb-1", id: "show_button#{index}" %></td>
                    <td><%= link_to t('view.edit'), edit_record_path(record.id), class: "btn btn-outline-success mb-1", id: "edit_button#{index}" %></td>
                    <td><%= link_to t('view.destroy'), record_path(record.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-warning mb-1", id: "delete_button#{index}" %></td>
                  </tr>
                </tbody>
                <% @protein_amount += (food.protein * record.ate) %>
                <% index += 1 %>
              <% end %>
            </table>
            <div class="border_top text-center font-weight-bold bold_font_size my-1 pt-1">
                <span class="total_protein"><%= t('view.my_daily_amount_protein') + " #{@protein_amount}" + " g" %></span>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="paginate_box rounded mt-3">
        <%= paginate @days, window: 3 %>
      </div>
    </div>
  </div>
  <div class="egg2 index_picture_margin picture_position_right"></div>
</div>
