<h1><%= t('view.record_show') %></h1>
<p>
  <strong><%= t('activerecord.attributes.food.name') %>:</strong>
  <%= @food.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.food.protein') %>:</strong>
  <%= @food.protain %>
</p>

<p>
  <strong><%= t('activerecord.attributes.food.quantity') %>:</strong>
  <%= @food.quantity %>
</p>

<p>
  <strong><%= t('activerecord.attributes.food.unit') %>:</strong>
  <%= @food.unit %>
</p>

<p>
  <strong><%= t('activerecord.attributes.record.ate') %>:</strong>
  <%= @record.ate %>
</p>

<p>
  <strong><%= t('activerecord.attributes.record.record_on') %>:</strong>
  <%= @record.record_on %>
</p>

<%= link_to t('view.edit'), edit_record_path(@record) %> |
<%= link_to t('view.back'), records_path %>