<%= form_with(model: @contact, local: true ) do |f| %>
  <%= render 'layouts/error_messages', model: @contact %>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="contact_form_item d-flex flex-row justify-content-center mt-4">
      <div class="contact_label"><%= f.label :title %></div>
      <%= f.text_area :title, placeholder: t('view.input_less_than100'), autofocus: true, class: "contact_form_title" %>
    </div>
    <div class="contact_form_item d-flex flex-row justify-content-center mt-4">
      <div class="contact_label"><%= f.label :content %></div>
      <%= f.text_area :content, placeholder: t('view.input_less_than1000'), class: "contact_form_content" %>
    </div>
    <div><%= f.hidden_field :user_id, value: current_user.id %></div>
    <div class="row justify-content-center mt-3">
      <%= f.submit button_text, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>