<div class="main_wrapper">
  <div class="contact_main_wrapper d-flex flex-row justify-content-around">
    <div class="side_bar_container">
      <%= render 'layouts/side_bar' %>
    </div>
    <div class="contact_index_wrapper">
      <div class="d-flex flex-column justify-content-center align-items-center p-3">
        <div>
          <h1 class="main_title p-2"><%= t('view.contact_index') %><%= render 'layouts/flash_message' %></h1>
        </div>
        <div class="contact_index_container scroll">
          <hr>
          <div class="d-flex flex-row justify-content-center">
            <div class="contact_index_item label_font"><%= t('activerecord.attributes.user.name') %></div>
            <div class="contact_index_item label_font"><%= t('activerecord.attributes.contact.title') %></div>
            <div class="contact_index_item label_font"><%= t('view.button') %></div>
          </div>
          <hr>
          <% index = 0 %>
          <% if @contacts != nil %>
            <% @contacts.each do |contact| %>
              <div class="d-flex flex-row justify-content-center">
                <%= content_tag :div, contact.user.name, id: "user#{index}", class: "contact_index_item my-3" %>
                <%= content_tag :div, contact.title, id: "title#{index}", class: "contact_index_item my-3" %>
                <div class="contact_index_item">
                  <%= link_to t('view.show'), contact_path(contact.id), class: "btn btn-outline-success mt-2" %>
                  <%= link_to t('view.destroy'), contact_path(contact.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-warning mt-2" %>
                </div>
              </div>
              <hr>
              <% index += 1 %>
            <% end %>
          <% end %>
        </div>
        <%= link_to t('view.contact_new'), new_contact_path, class: "btn btn-primary mt-3" %>
      </div>
    </div>
  </div>
</div>