<div class="d-flex flex-column justify-content-center align-items-center contact_show_wrapper day_record_style bg-white mt-5">
  <h1 class="food_text"><%= t('view.contact_index') %></h1>
  <div class="row row_index">
    <div class="col-3 text-center font-weight-bold text-success my-3"><%= t('activerecord.attributes.user.name') %></div>
    <div class="col-3 text-center font-weight-bold text-success my-3"><%= t('activerecord.attributes.contact.title') %></div>
    <div class="col-3 text-center font-weight-bold text-success my-3"><%= t('view.button') %></div>
  </div>
  <% if @contacts != nil %>
    <% @contacts.each do |contact| %>
      <div class="row row_index">
        <div class="col-3 text-center my-3"><%= contact.user.name %></div>
        <div class="col-3 text-center my-3"><%= contact.title %></div>
        <div class="col-3 text-center">
          <%= link_to t('view.show'), contact_path(contact.id), class: "btn btn-outline-success" %>
          <%= link_to t('view.destroy'), contact_path(contact.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-warning" %>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= link_to t('view.contact_new'), new_contact_path, class: "button_design button_text_color contact_new_button mt-5" %>
</div>
