<div class="d-flex flex-column justify-content-center align-items-center contact-show_wrapper main_contents_container bg-white mt-5">
  <h1 class="main_title mt-3"><%= t('view.contact_show') %></h1>
  <div class="reply_index_wrapper d-flex flex-column justify-content-left container">
    <div class="mx-3 mt-3 row contact_area">
      <div class="col-3 text-left reply_content_title mt-4"><%= label :name, t('activerecord.attributes.contact.title'), class: "text-success" %></div>
      <div class="col-9 text-left reply_content_area mt-4"><%= @contact.title %></div>
      <div class="col-3 text-left reply_content_title mt-4"><%= label :protein, t('activerecord.attributes.contact.content'), class: "text-success" %></div>
      <div class="col-9 text-left reply_content_area mt-4"><%= @contact.content %></div>
      <div class="button_design submit_button mt-5 mx-3">
        <%= link_to t('view.edit'), edit_contact_path(@contact.id), class: "button_text_color" %>
      </div>
      <div class="button_design submit_button mt-5 my-2 mx-3">
        <%= link_to t('view.back'), contacts_path, class: "button_text_color" %>
      </div>
    </div>
  </div>
  <div class="main_title my-3"><h1><%= t('view.reply_index') %></h1></div>
  <div class="reply_index_wrapper d-flex flex-column justify-content-left container">
    <% index = 0 %>
    <% if @replies != nil %>
      <% @replies.each do |reply| %>
        <div class="mx-3 mt-3 row contact_area">
          <div class="col-3 text-left reply_content_title" ><%= label :replier_id, t('activerecord.attributes.reply.replier_id'), class: "text-success" %></div>
          <div class="col-9 text-left reply_name_area"><%= content_tag :span, reply.user.name, id: "replier#{index}", class: "reply_name_content" %></div>
          <div class="col-3 text-left reply_content_title mt-4"><%= label :comment, t('activerecord.attributes.reply.comment'), class: "text-success" %></div>
          <div class="col-9 text-left reply_content_area mt-4"><%= content_tag :span, reply.comment, id: "comment#{index}" %></div>
          <% if reply.user_id == current_user.id %>
            <div class="button_design submit_button mt-5 mx-3">
              <%= link_to t('view.edit'), edit_reply_path(id: reply.id, contact_id: @contact.id), id: "edit_button#{index}", class: "button_text_color" %>
            </div>
            <div class="button_design submit_button mt-5 mx-3">
              <%= link_to t('view.destroy'), reply_path(id: reply.id), method: :delete, data: { confirm: 'Are you sure?' }, id: "destroy_button#{index}", class: "button_text_color" %>
            </div>
          <% end %>
          <br>
        </div>
        <% index += 1 %>
      <% end %>
    <% end %>
  </div>
  <div class="reply_index_wrapper d-flex flex-row justify-content-left">
    <div class="button_design submit_button mx-5 mt-4">
      <%= link_to t('view.reply_new'), new_reply_path(contact_id: @contact.id), class: "button_text_color" %>
    </div>
    <div class="button_design submit_button mx-5 mt-4">
      <%= link_to t('view.back'), contacts_path, class: "button_text_color" %>
    </div>
  </div>
</div>