<%= render 'layouts/header' %>
<div class="d-flex flex-column justify-content-center align-items-center sign_in_container">
  <div class="mt-3">
    <h1 class="main_sentence sign_up_index wf-sawarabi"><%= t('.sign_in') %></h1>
  </div>
  <div class="row justify-content-center">
   <% if notice %>
    <p class="notice alert-light login_alert"><%= notice %></p>
    <% elsif alert%>
      <p class="alert alert-light login_alert"><%= alert %></p>
    <% end %>
  </div>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="mt-5 container">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="sign_up_index row justify-content-center mt-2">
        <div class="col-3"><%= f.label :email, class: "normal_sentence wf-sawarabi" %></div>
        <div class="col-3"><%= f.email_field :email, placeholder: t('activerecord.attributes.user.email'), autocomplete: "email" %></div>
      </div>

      <div class="sign_up_index row justify-content-center mt-2">
        <div class="col-3"><%= f.label :password, class: "normal_sentence wf-sawarabi" %></div>
        <div class="col-3"><%= f.password_field :password, placeholder: t('view.input_over_than6'), autocomplete: "new-password" %></div>
      </div>

      <div class="sign_up_index row justify-content-center submit_button_container">
        <span class="button_frame submit_button"><%= f.submit t('.sign_in'), class: "top_buttons_design submit_button" %></span>
      </div>
    <% end %>
  </div>
</div>
