<%= render 'layouts/header' %>
<div class="d-flex flex-column justify-content-center align-items-center mt-5">
  <div class="mt-3">
    <h1 class="main_sentence sign_up_index wf-sawarabi"><%= t('.sign_in') %></h1>
  </div>
    <% if notice %>
      <p class="notice alert-light notice text-center"><%= notice %></p>
    <% elsif alert%>
      <p class="alert alert-light alert text-center"><%= alert %></p>
    <% end %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mt-4">
      <div class="login_index ">
        <%= f.label :email, class: "normal_sentence wf-sawarabi" %><br />
        <%= f.email_field :email, placeholder: t('activerecord.attributes.user.email'), autofocus: true, autocomplete: "email" %>
      </div>

      <div class="login_index">
        <%= f.label :password, class: "normal_sentence wf-sawarabi" %><br />
        <%= f.password_field :password, placeholder: t('activerecord.attributes.user.password'), autocomplete: "current-password" %>
      </div>

      <div class="my-5 pl-2">
        <%= f.submit t('.sign_in'), class: "button_design sign_up_button button_text_color login_index" %>
      </div>
    </div>
  <% end %>
</div>
