<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="mt-3">
    <h1 class="food_text"><%= t('.sign_in') %></h1>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mt-4">
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, placeholder: t('activerecord.attributes.user.email'), autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, placeholder: t('activerecord.attributes.user.password'), autocomplete: "current-password" %>
      </div>

      <div class="my-5 pl-2">
        <%= f.submit t('.sign_in'), class: "button_design sign_up_button button_text_color" %>
      </div>
    </div>
  <% end %>
</div>
