<%= form_with(model: food, local: true) do |form| %>
  <div class="d-flex flex-column justify-content-center align-items-center mt-5">
    <%= render 'layouts/error_messages', model: @food %>
    <div class="d-flex flex-row justify-content-center align-items-center mt-3 mb-3">
      <div class="mx-3">
        <div>
          <%= form.label :name, t('activerecord.attributes.food.name'), class: "text-success" %>
        </div>
        <div>
          <%= form.text_field :name, placeholder: t('activerecord.attributes.food.name'), autofocus: true, class: "food_field" %>
        </div>
      </div>
      <div class="mx-3">
        <div>
          <%= form.label :protein, t('activerecord.attributes.food.protein'), class: "text-success" %>
        </div>
        <div class="d-flex flex-row justify-content-center align-items-center">
          <div>
            <%= form.number_field :protein, min: '1', placeholder: t('activerecord.attributes.food.protein'), class: "food_field" %>
          </div>
          <div>
            g
          </div>
        </div>
      </div>
      <div class="mx-3">
        <div>
          <%= form.label :quantity, t('activerecord.attributes.food.quantity'), class: "text-success" %>
        </div>
        <div>
          <%= form.number_field :quantity, min: '1', placeholder: t('activerecord.attributes.food.quantity'), class: "food_field" %>
        </div>
      </div>
      <div class="mx-3">
        <div>
          <%= form.label :unit, t('activerecord.attributes.food.unit'), class: "text-success" %>
        </div>
        <div>
          <%= form.text_field :unit, placeholder: t('activerecord.attributes.food.unit'), class: "food_field" %>
        </div>
      </div>
    </div>
    <div class="mt-5">
      <%= form.submit button_text, class: "button_design submit_button button_text_color" %>
    </div>
  </div>
  <%= form.hidden_field :user_id, value:current_user.id %>
<% end %>