<%= render 'layouts/error_messages', model: @food %>
<%= form_with(model: food, local: true) do |form| %>
  <div>
    <div class="field">
      <%= form.label :name, t('activerecord.attributes.food.name') %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :protain, t('activerecord.attributes.food.protein') %>
      <%= form.number_field :protain %>g
    </div>

    <div class="field">
      <%= form.label :quantity, t('activerecord.attributes.food.quantity') %>
      <%= form.number_field :quantity %>
    </div>

    <div class="field">
      <%= form.label :unit, t('activerecord.attributes.food.unit') %>
      <%= form.text_field :unit %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
  <%= form.hidden_field :user_id, value:current_user.id %>
<% end %>