<%= form_with(model: food, local: true) do |form| %>
  <div class="d-flex flex-column justify-content-center align-items-center mt-5">
    <%= render 'layouts/error_messages', model: @food %>
    <div class="d-flex flex-row my-3">
      <div class="mx-2">
        <div><%= form.label :name, t('activerecord.attributes.food.name'), class: "label_font" %></div>
        <div><%= form.text_field :name, placeholder: t('view.egg'), autofocus: true, class: "food_field" %></div>
      </div>
      <div class="mx-2">
        <div><%= form.label :protein, t('activerecord.attributes.food.protein'), class: "label_font" %></div>
        <div><%= form.number_field :protein, min: '1', placeholder: "4", class: "food_field" %>g</div>
      </div>
      <div class="mx-2">
        <div><%= form.label :quantity, t('activerecord.attributes.food.quantity'), class: "label_font" %></div>
        <div><%= form.number_field :quantity, min: '1', placeholder: 1, class: "food_field" %></div>
      </div>
      <div class="mx-2">
        <div><%= form.label :unit, t('activerecord.attributes.food.unit'), class: "label_font" %></div>
        <div><%= form.text_field :unit, placeholder: t('view.unit_ko'), class: "food_field" %></div>
      </div>
    </div>
    <div class="my-3">
      <%= form.submit button_text, class: "btn btn-primary" %>
    </div>
  </div>
  <%= form.hidden_field :user_id, value:current_user.id %>
<% end %>