<h1><%= t('view.foods_index') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('view.food_name') %></th>
      <th><%= t('view.protein') %></th>
      <th><%= t('view.quantity') %></th>
      <th><%= t('view.unit') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.protain %>g</td>
        <td><%= food.quantity %></td>
        <td><%= food.unit %></td>
        <td><%= link_to t('view.show'), food_path(food.id) %></td>
        <td><%= link_to t('view.edit'), edit_food_path(food.id) %></td>
        <td><%= link_to t('view.destroy'), food_path(food.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>