<div class="main_wrapper">
  <div class="food_main_wrapper d-flex flex-row justify-content-around">
    <div class="side_bar_container">
      <%= render 'layouts/side_bar'%>
    </div>
    <div class="food_index_wrapper">
      <div class="d-flex flex-column justify-content-center align-items-center p-3">
        <div>
          <h1 class="main_title"><%= t('view.foods_index') %><%= render 'layouts/flash_message' %></h1>
        </div>
        <div class="paginate_box rounded my-1">
          <%= paginate @foods, window: 3 %>
        </div>
        <div class="food_index_container scroll">
          <div class="d-flex flex-column justify-content-center align-items-center content_border">
            <div class="d-flex flex-row justify-content-center content_border">
              <div class="food_item_large"><%= t('activerecord.attributes.food.name') %></div>
              <div class="food_item_middle"><%= t('activerecord.attributes.food.protein') %></div>
              <div class="food_item_middle"><%= t('activerecord.attributes.food.quantity') %></div>
              <div class="food_item_small"><%= t('activerecord.attributes.food.unit') %></div>
              <div class="food_item_large"><%= t('view.button') %></div>
            </div>
            <% index = 0 %>
            <% @foods.each do |food| %>
              <div class="d-flex flex-row justify-content-center content_border">
                <%= content_tag :div, food.name, id: "food_name#{index}", class: "food_item_large mt-1" %>
                <%= content_tag :div, "#{food.protein}g", id: "food_protein#{index}", class: "food_item_middle mt-1" %>
                <%= content_tag :div, food.quantity, id: "food_quantity#{index}", class: "food_item_middle mt-1" %>
                <%= content_tag :div, food.unit, id: "food_unit#{index}", class: "food_item_small mt-1" %>
                <div class="food_item_large row justify-content-center mb-2">
                  <div><%= link_to t('view.show'), food_path(food.id), class: "btn btn-outline-warning" %></div>
                  <div><%= link_to t('view.edit'), edit_food_path(food.id), class: "btn btn-outline-success" %></div>
                  <div><%= link_to t('view.destroy'), food_path(food.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-warning", id: "delete_button#{index}" %></div>
                </div>
              </div>
              <% index += 1 %>
            <% end %>
          </div>
        </div>
        <div class="justify-content-center mt-3">
          <%= link_to t('view.back'), :back, class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>