<h1><%= t('view.food_show') %></h1>
<p>
  <strong><%= t('activerecord.attributes.food.name') %>:</strong>
  <%= @food.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.food.protein') %>:</strong>
  <%= @food.protain %>g
</p>

<p>
  <strong><%= t('activerecord.attributes.food.quantity') %>:</strong>
  <%= @food.quantity %>
</p>

<p>
  <strong><%= t('activerecord.attributes.food.unit') %>:</strong>
  <%= @food.unit %>
</p>
<%= link_to t('view.edit'), edit_food_path(@food.id) %>
<%= link_to t('view.back'), foods_path %>
