<div class="day_record_style bmi_record_width d-flex flex-column justify-content-center align-items-center">
  <div><%= render 'layouts/error_messages', model: @bmi %></div>
  <%= form_with(model: @bmi, local: true ) do |f| %>
    <div class="row mt-5">
      <div class="col-3"><%= f.label :height %></div>
      <div class="col-5"><%= f.number_field :height, min: '1', placeholder: t('view.input_integer') %></div>
      <div class="col-2 ml-4">cm</div>
    </div>
    <div class="row mt-4">
      <div class="col-3"><%= f.label :weight %></div>
      <div class="col-5"><%= f.number_field :weight, min: '0.1' ,step: '0.1', placeholder: t('view.input_float'), autofocus: true %></div>
      <div class="col-2 ml-4">kg</div>
    </div>
    <div class="row mt-4">
      <div class="col-3"><%= f.label :record_on %></div>
      <div div class="col-5"><%= f.date_field :record_on, value: Time.now.strftime("%Y-%m-%d") %></div>
    </div>
    <div class="col-3"><%= f.hidden_field :user_id, value:current_user.id %></div>
    <div class="row mt-5 mx-5 px-3 py-5">
      <div class="col-4 button_text_color">
        <%= f.submit button_text, class: "button_design submit_button" %>
      </div>
      <div class="col-4 button_text_color button_design submit_button mx-5">
        <%= link_to t('view.back'), bmis_path, class: "button_text_color" %>
      </div>
    </div>
  <% end %>
</div>
