<%= form_with(model: @bmi, local: true ) do |f| %>
  <div class="d-flex flex-column justify-content-center align-items-center scroll">
    <div><%= render 'layouts/error_messages', model: f.object %></div>
    <div class="bmi_form_item mt-5">
      <div class="mt-1 mx-3"><%= f.label :height %></div>
      <div class="mx-3"><%= f.number_field :height, min: '1', placeholder: t('view.input_integer') %></div>
      <div class="mt-1 mx-3">cm</div>
    </div>
    <div class="bmi_form_item mt-4">
      <div class="mt-1 mx-3"><%= f.label :weight %></div>
      <div class="mx-3"><%= f.number_field :weight, min: '0.1' ,step: '0.1', placeholder: t('view.input_float'), autofocus: true %></div>
      <div class="mt-1 mx-3">kg</div>
    </div>
    <div class="bmi_form_item mt-4">
      <div class="mt-1 mx-3"><%= f.label :record_on %></div>
      <% if action_name == 'new' || action_name == 'create' %>
        <div div class="mx-3"><%= f.date_field :record_on, value: Time.now.strftime("%Y-%m-%d") %></div>
      <% elsif action_name == 'edit' || action_name == 'update' %>
        <div div class="mx-3"><%= f.date_field :record_on, value: @bmi.record_on.strftime("%Y-%m-%d") %></div>
      <% end %>
    </div>
    <%= f.hidden_field :user_id, value:current_user.id %>
    <%= f.submit button_text, class: "btn btn-primary mt-5" %>
  </div>
<% end %>

