<div class="main_wrapper d-flex flex-row justify-content-center">
  <div class="bmi_index_wrapper">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h1 class="main_title p-2"><%= t('view.bmi_index') %><%= render 'layouts/flash_message' %></h1>
      <div class="graph_button_container d-flex flex-row justify-content-center">
        <div class="graph_paginate"><%= paginate @bmis, window: 3 %></div>
        <button type="button" class="btn btn-primary ml-3" data-toggle="modal" data-target="#Modal", id="graph_modal_button">
          BMIグラフ
        </button>
      </div>
      <div class="bmi_index_container scroll">
        <div class="row flex-column align-items-center">
          <div class="row row_index my-2">
            <div class="col-3 text-center font-weight-bold"><%= t('activerecord.attributes.bmi.record_on') %></div>
            <div class="col-2 text-center font-weight-bold"><%= t('activerecord.attributes.bmi.bmi') %></div>
            <div class="col-2 text-center font-weight-bold"><%= t('activerecord.attributes.bmi.height') %></div>
            <div class="col-2 text-center font-weight-bold"><%= t('activerecord.attributes.bmi.weight') %></div>
            <div class="col-3 text-center font-weight-bold"><%= t('view.button') %></div>
          </div>
          <% index = 0 %>
          <% if @bmis!= nil %>
            <% @bmis.each do |bmi| %>
              <div class="row row_index justify-content-center">
                <%= content_tag :div, bmi.record_on, id: "record_on#{index}", class: "col-3 text-center align-bottom mt-2" %>
                <%= content_tag :div, bmi.status, id: "status#{index}", class: "col-2 text-center align-bottom mt-2" %>
                <%= content_tag :div, bmi.height, id: "height#{index}", class: "col-2 text-center align-bottom mt-2" %>
                <%= content_tag :div, bmi.weight, id: "weight#{index}", class: "col-2 text-center align-bottom mt-2" %>
                <div class="col-3 text-center">
                  <%= link_to t('view.edit'), edit_bmi_path(bmi.id), class: "btn btn-outline-success" %>
                  <%= link_to t('view.destroy'), bmi_path(bmi.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-warning" %>
                </div>
              </div>
              <% index += 1 %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="button_design mt-3">
        <%= link_to t('view.bmi_create'), new_bmi_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Modal">BMIグラフ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="bmi_graph">
          <%= line_chart @chart_elements, xtitle: t('view.term'), ytitle: "BMI" %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>