<div class="main_wrapper d-flex flex-row justify-content-center">
  <div class="user_guide_wrapper">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h1 class="main_title text-center p-3"><%= t('view.user_guide') %></h1>
      <div class="user_guide_container scroll">
        <div class="d-flex flex-column justify-content-center align-items-center p-3">
          <section>
            <h2 class="text-center pb-2">機能一覧</h2>
            <ol class="guide_font">
              <li><%= link_to t('view.top_page'), user_guide_index_path(anchor: 'top_page'), class: "guide_font px-2" %>・・・サインアップまたはログインページに飛びます。</li>
              <li><%= link_to t('view.profile'), user_guide_index_path(anchor: 'profile'), class: "guide_font px-2" %>・・・自身のプロフィールを管理するページです。</li>
              <li><%= link_to t('view.food_new'), user_guide_index_path(anchor: 'food_new'), class: "guide_font px-2" %>・・・食品とタンパク質量を登録します。</li>
              <li><%= link_to t('view.record_new'), user_guide_index_path(anchor: 'record_new'), class: "guide_font px-2" %>・・・登録した食品とタンパク質を日付毎に記録します。</li>
              <li><%= link_to t('view.food_copy'), user_guide_index_path(anchor: 'food_copy'), class: "guide_font px-2" %>・・・みんなの記録ページには「自分の食品に登録する」ボタンがあり、他の人の食品を自分の食品に登録できます。</li>
              <li><%= link_to t('view.follow_function'), user_guide_index_path(anchor: 'follow_function'), class: "guide_font px-2" %>・・・ユーザーをフォローできます。</li>
              <li><%= link_to t('view.bmi_function'), user_guide_index_path(anchor: 'bmi_function'), class: "guide_font px-2" %>・・・身長と体重を入力し、その日のBMIを記録できます。</li>
            </ol>
          </section>
        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <%= link_to t('view.back'), :back, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>