<div class="main_wrapper d-flex flex-row justify-content-center">
  <div class="user_guide_wrapper">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h1 class="main_title text-center p-3"><%= t('view.user_guide') %></h1>
      <div class="user_guide_container scroll">
        <div class="d-flex flex-column justify-content-center align-items-center p-3">
          <h2 class="text-left">アプリ説明</h2>
          <div class= "app_introduction pb-3">
            食事で摂るタンパク質の量を管理するアプリです。<br>
            食品登録で食品とタンパク質量を登録し、記録作成でどの食品をどれだけ食べたかを記録します。<br>
            毎日の記録ページで、毎日の食事内容とタンパク質の合計を確認することができます。
          </div>
          <div>
            <h2 class="text-center pb-2">機能一覧</h2>
            <ol class="guide_font">
              <% if current_user %>
                <li><%= link_to t('view.profile'), user_path(current_user.id), class: "guide_font px-2" %>・・・自身のプロフィールを管理します。</li>
                <li><%= link_to t('view.food_management_function'), new_food_path, class: "guide_font px-2" %>・・・食品と共にタンパク質の量を登録します。</li>
                <li><%= link_to t('view.record_management_function'), new_nutrition_record_path, class: "guide_font px-2" %>・・・登録した食品とタンパク質を日付毎に記録します。</li>
                <li><%= link_to t('view.food_copy'), nutrition_records_path, class: "guide_font px-2" %>・・・みんなの記録ページには「自分の食品に登録する」ボタンがあり、他の人の食品を自分の食品として登録できます。</li>
                <li><%= link_to t('view.follow_function'), users_path, class: "guide_font px-2" %>・・・ユーザーのフォロー及び解除を行います。</li>
                <li><%= link_to t('view.bmi_function'), bmis_path, class: "guide_font px-2" %>・・・身長と体重を入力し、その日のBMIを記録できます。</li>
              <% else %>
                <li><%= t('view.profile') %>・・・自身のプロフィールを管理します。</li>
                <li><%= t('view.food_management_function') %>・・・食品と共にタンパク質の量を登録します。</li>
                <li><%= t('view.record_management_function') %>・・・登録した食品とタンパク質を日付毎に記録します。</li>
                <li><%= t('view.food_copy') %>・・・みんなの記録ページには「自分の食品に登録する」ボタンがあり、他のユーザーの食品を自分の食品として登録できます。</li>
                <li><%= t('view.follow_function') %>・・・ユーザーのフォロー及び解除を行います。</li>
                <li><%= t('view.bmi_function') %>・・・身長と体重を入力し、その日のBMIを記録できます。</li>
              <% end %>
            </ol>
          </div>
        </div>
      </div>
      <div class="row justify-content-center align-items-center mt-2">
        <%= link_to t('view.back'), :back, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>