<div class="side_bar d-flex flex-column justify-content-center align-items-center">
  <li class="side_bar_title">メインコンテンツ</li>
  <li class="side_bar_item mt-3"><%= link_to t('view.food_new'), new_food_path, class: "px-2 nav-link" %></li>
  <li class="side_bar_item"><%= link_to t('view.foods_index'), foods_path, class: "px-2 nav-link" %></li>
  <li class="side_bar_item"><%= link_to t('view.record_new'), new_nutrition_record_path, class: "px-2 nav-link" %></li>
  <li class="side_bar_item"><%= link_to t('view.my_daily_record'), my_daily_nutrition_record_path(current_user.id), class: "px-2 nav-link" %></li>
  <li class="side_bar_item"><%= link_to t('view.records_index'), nutrition_records_path, class: "px-2 nav-link" %></li>
</div>