<!DOCTYPE html>
<html>
  <head>
    <title>ProMana</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <span><%= t('view.user_name') %>: <%= current_user.name %></span>
      <span><%= "admin" if current_user.admin == true %></span>
      <%= link_to t('view.profile'), user_path(current_user.id) %>
      <%= link_to t('view.food_new'), new_food_path %>
      <%= link_to t('view.foods_index'), foods_path %>
      <%= link_to t('view.record_new'), new_record_path %>
      <%= link_to t('view.my_daily_record'), my_daily_records_path %>
      <%= link_to t('view.records_index'), records_path %>
      <%= link_to t('view.logout'), destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to t('view.guest.login'), users_guest_sign_in_path, method: :post, class: "login" %>
      <%= link_to t('view.sign_up'), new_user_registration_path %>
      <%= link_to t('view.login'), new_user_session_path %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
